.parent 
{
    -fx-background-color: transparent;
}

.dark-pane
{
    -fx-background-color: #45515F;
}

.Button-color
{
     
    -fx-background-color: #008B8B;
}

.Tab-color
{
    -fx-background-color: #ac8f39;
}

.SearchBar-color
{
    -fx-background-color: #ffffff;
}

.label-bright {
    -fx-font-size: 16pt;
    -fx-font-family: "Segoe UI Semibold";
    -fx-text-fill: white;
    -fx-opacity: 1;
}